.calc-wrapper {
    padding: 50px;
}
.calc {
    width: 300px;
    height: auto;
    background-color: #7813aa;
    border-radius: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.calc-display {
    width: 100%;
    height: 100px;
    background-color: #30303f;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: right;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow-x: hidden;
    white-space: nowrap;
}

.calc-keys-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.calc-keys-row-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calc__keys__key {
    width: 25%;
    height: 70px;
    color: white;
    border: 1px solid grey;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
    line-height: 70px;
}
.calc__keys__key:hover {
    background-color: #7b7b7c;
    color: white;
}
.calc__keys__key.clear-key {
    width: 50%;
}
.bottom-row .calc__keys__key.zero-key {
    width: 50%;
    border-bottom-left-radius: 20px;
}

.bottom-row .calc__keys__key.equals-key {
    border-bottom-right-radius: 20px;
}

.orange-key {
    background-color: #ff9f00;
    color: white;
}
